*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    border: none;
}

body{
    min-height: 100vh;
    max-height: 100vh;
}

.delete{
    color: red !important;
}

.account{
    gap: 0.5rem;
}

.account > .account-photo{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.account > .account-details{
    justify-content: center;
    flex-direction: column;
}

.default{
    flex-direction: column;
    border-bottom: solid thin white;
    padding: 0.2rem;
}

.default > .tabs{
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
    transition: 0.2s;
}

.default > .tabs:hover{
    background-color: #031524;
}

.tabs.active{
    background-color: #031524;
    border-left: solid medium blue;
}

.default .image{
    height: 1.3rem;
}

.sidebar > .custom{
    flex: 1;
    border: none;
    overflow-y: auto;
}

.custom input{
    width: 100%;
    padding: 0.3rem 0.15rem;
    outline: none;
    border: solid thin #031524;
    border-bottom: solid medium blue;
    background-color: #274b5f;
    border-radius: 6px;
    color: white;
    font-size: medium;
}

.custom .new{
    padding-left: 0.1rem;
}

.sidebar > .add{
    align-items: center;
    gap: 0.3rem;
}

.add > .new-list{
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding: 0.5rem;
    border-radius: 6px;
}

.add > .new-list:hover{
    background-color: #031524;
}

.add .image{
    background-color: inherit;
    height: 1rem;
}

.add .create-group{
    border-radius: 4px;
    height: 2rem;
    padding: 0.3rem;
}

.add .create-group:hover{
    background-color: #031524;
}

body,
.account,
.account>.account-details,
.add-task,
.image,
.searchbar,
.sidebar,
.default,
.default > .tabs,
.sidebar > .add,
.add > .new-list,
.content,
.content > .heading,
.heading > header,
.add-task > .popup,
.add-task > .popup > button,
.add-task > .option,
.taskContainer > .task,
.extrainfo{
    display: flex;
}

.sidebar{
    flex-direction: column;
    flex:1;
    background-color: #274b5f;
    padding: 1rem;
    color: white;
    gap: 0.9rem;
}

.searchbar{
    border-bottom: solid thin white;
    background-color: #031524;
    padding: 0.1rem 0.3rem;
}

.searchbar:focus-within{
    border-bottom: solid thin #00efb0;
}

.searchbar > input{
    flex: 1;
    outline: none;
    background-color: #031524;
    opacity: 0.8;
    border: none;
    height: 1.6rem;
    padding-left: 0.1rem;
    color: white;
}

.searchbar > .image{
    align-items: center;
    background-color: #031524;
}

.searchbar > .image:hover{
    opacity: 0.8;
}

.searchbar  img{
    height: 1rem;
}

.content{
    flex:4;
    flex-direction: column;
    background-color: #031524;
    padding: 1rem;
}

.content > .time{
    color: #00efb0;
    font-size:small;
}

.content > .taskContainer{
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
    row-gap: 4px;
    overflow-y: auto;
    margin: 2rem;
}

.taskContainer > .task{
    background-color: #274b5f;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
    gap:1rem;
}

.task .task-detail{
    color: white;
}

.task .image{
    display: flex;
    align-items: center;
    height: 100%;
}

.task .star,.task .markedStar{
    margin-left: auto;
}

.task .image img{
    height: 100%;
}

.extrainfo{
    color: #F5F5DC;
    align-items: center;
    gap: 6px;
}

.extrainfo span{
    font-size: x-small;
}

.extrainfo img{
    height: 0.75rem;
}

.content > .heading > header{
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: xx-large;
    color: #00efb0;
}

.content > .heading > header > .image{
    height: 3rem;
}

.add-task{
    margin-top: auto;
    height: 3rem;
    background-color: #00efb0;
    padding: 0.5rem;
    padding-left: 0.8rem;
    gap: 0.75rem;
    opacity: 0.9;
    border-radius: 4px;
}

.add-task:hover,
.add-task:focus-within{
    opacity: 1;
}

.add-task  .image{
    background-color: #00efb0;
    align-items: center;
}

.add-task img{
    height: 1.3rem;
}

.add-task > input{
    flex: 1;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: #00efb0;
}

.add-task{
    position: relative;
}

.add-task > .option{
    align-items: center;
    color: white;
    font-size: medium;
    gap: 0.2rem;
}

.add-task > .popup{
    position: absolute;
    bottom: 110%;
    right: 0;
    flex-direction: column;
    gap: 0.3rem;
    background: #274b5f;
    border-radius: 8px;
    padding: 10px;
    width: 220px;
}

.add-task > .popup > button{
    background-color: #031524;
    color: #00efb0;
    border-radius: 2px;
    font-size: medium;
    padding: 0.5rem 0.5rem;
    transition: 0.2s;
    align-items: center;
    gap: 0.5rem;
}

.add-task > .popup > button:hover{
    background-color: darkgrey;
}

.add-task > .popup > button > img{
    height: 1.2rem;
}

.date-input{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.deadline{
    margin-left: auto;
}

.divider{
    width: 100%;
    border: solid thin #00efb0;
}

.hidden{
    display: none !important;
}

.hide{
    padding: 0.1rem 0.3rem;
}

.hide:hover{
    background-color:aqua;
}